<!DOCTYPE html>
<html lang="en">
<head>
    <title>END SEMESTER EXAM RESULTS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/sist.ico') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        li:not(:last-child) {
            margin-bottom: 10px;
        }
        #tblNote {
            color: #831238;
        }
    </style>
</head>
<body style="margin:30px">
<div class="container-fluid">
    <div class="jumbotron jumbotron-fluid" style="background-color: #831238;">
        <font color="#fff">
            <h1 style="text-align: center;"><strong>S A T H Y A B A M A</strong></h1>
            <h6 style="text-align: center;">INSTITUTE OF SCIENCE AND TECHNOLOGY</h6>
            <p style="text-align: center">(Deemed to be University)</p>
            <h1 style="text-align: center">End Semester Examination Results (Regular/Arrear) - Apr/May 2025 <br>[Before Revaluation]</h1>
        </font>
    </div>
</div>

<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}

    <div class="row justify-content-center align-items-center">
        <form class="form-horizontal" id="loginForm" method="POST" action="/">
            <table>
                <tr>
                    <td>
                        <h4 style="text-align: center;">End Semester Examination Results - Apr/May 2025 <br>for the following programmes</h4>
                        <h6>
                            <ul>
                                <li>B.E/B.Tech/B.Des/B.Pharm</li>
                                <li>B.A/B.Sc./B.Com/BBA/BCA/LL.B.</li>
                                <li>M.E./M.Tech/M.Arch/M.B.A/M.Com/M.A./MCA/M.Sc./M.Pharm.</li>
                                <li>B.Arch/B.A. LL.B./B.Com LL.B./B.B.A LL.B./M.Sc CS (Integrated)</li>
                                <li>D.Pharm.</li>
                                <li>B.E/B.Tech (Part Time)</li>
                            </ul>
                        </h6>
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <div class="form-group">
                            <label for="regno" style="font-size: 25px;"><font color="#831238">Enter Register Number :* </font></label>
                            <input type="text" class="form-control" id="regno" name="regno" placeholder="Register Number" required/>
                        </div>
                        <div class="form-group">
                            <label for="dob" style="font-size: 25px;"><font color="#831238">Enter Date of Birth (dd/mm/yyyy):* </font><i class="fa fa-key"></i></label>
                            <input type="password" class="form-control" name="dob" id="dob" placeholder="dd/mm/yyyy" required/>
                        </div>
                        <div class="form-group">
                            <button type="submit" id="btnLogin" class="btn btn-success btn-lg btn-block" style="background-color: #831238;">Login <i class="fa fa-sign-in"></i></button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>

<script>
function isDate(txtDate) {
    var currVal = txtDate;
    if (currVal == '') return false;
    var rxDatePattern = /^(\d{1,2})(\/|-)(\d{1,2})(\/|-)(\d{4})$/;
    var dtArray = currVal.match(rxDatePattern);
    if (dtArray == null) return false;
    dtDay = dtArray[1];
    dtMonth = dtArray[3];
    dtYear = dtArray[5];
    if (dtMonth < 1 || dtMonth > 12) return false;
    else if (dtDay < 1 || dtDay > 31) return false;
    else if ((dtMonth == 4 || dtMonth == 6 || dtMonth == 9 || dtMonth == 11) && dtDay == 31) return false;
    else if (dtMonth == 2) {
        var isleap = (dtYear % 4 == 0 && (dtYear % 100 != 0 || dtYear % 400 == 0));
        if (dtDay > 29 || (dtDay == 29 && !isleap)) return false;
    }
    return true;
}

$(document).ready(function() {
    $("#regno").keydown(function(e) {
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
            (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
            (e.keyCode >= 35 && e.keyCode <= 40)) return;
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) &&
            (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });

    $('#btnLogin').click(function() {
        var regVal = $('#regno').val();
        var dobVal = $('#dob').val();
        if (!$.isNumeric(regVal)) {
            alert('Invalid Register Number');
            $('#regno').focus();
            return false;
        }
        if (!isDate(dobVal)) {
            alert('Invalid Date of Birth');
            $('#dob').focus();
            return false;
        }
        return true;
    });
});
</script>
</body>
</html>
